body {
  font-family: 'Lato', sans-serif !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-60 {
  margin-top: 60px !important;
}

.referanse-img {
  max-height: 100px;
  margin: 0 auto;
}

.quote {
  font-size: 18px;
  font-style: italic;
}

.quote-by {
  float: right;
}

.read-more-btn {
  background-color: #2AB27B;
  border-color: #2AB27B;
	width: 90px;
  
}

#portfolio .portfolio-item .portfolio-link.read-more-btn {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.read-more-btn:hover, .read-more-btn:active, .read-more-btn:focus {
  background-color: #44CC95;
  border-color: #44CC95;
}

.navbar-brand {
	padding: 7px 0 0 15px;
}

.navbar-custom .navbar-nav>.active>a {
	background-color: #146c94;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:hover {
    color: #fff;
}

.navbar-custom .navbar-nav>.active>a:focus, .navbar-custom .navbar-nav>.active>a:hover {
    background-color: #146c94;
}

.text-primary, a {
    color: #1b92c7;
}

.profile-photo {
	max-width: 200px;
	max-height: 200px;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #1b92c7;
}

img.prosessen-img {
  margin: 0 auto;
}

.prosessen-img-wrapper {
  height: 100%;
  padding-top: 30px;
}

.prosessen-img-wrapper .img-circle {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  min-height: 400px;
}

@media (min-width: 320px) and (max-width: 568px) {
  #portfolio .portfolio-item .portfolio-caption {
    min-height: 475px;
  }
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: #1b92c7;
}

@media (min-width: 300px) and (max-width: 767px) {
  .navbar-custom {
    background-color: #1b92c7;
  }
}

@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #1b92c7;
  }
}

.navbar-custom .navbar-toggle {
  background-color: #146c94;
  border-color: #146c94;
}

.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #146c94;
  border-color: #146c94;
}

header {
  background-image: url('../img/startscene.png');
  height: 100vh;
  overflow: hidden;
}

video.full {
  position: absolute;           
  right: 0;
  bottom: 0;
                   
  min-width: 100%;           
  min-height: 100%;
  width: auto;               
  height: auto;

  /*top: 50%;                  
  left: 50%;                 

  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);*/      

  background: url('../img/startscene.png') no-repeat;      
  background-size: cover;
}

.intro-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.intro-text .intro-lead-in {
  font-weight: bold;
  margin: 0 auto;
}

.intro-lead-in span {
  color: #fff;
  /*color: #404040;
  background-color: rgb(255, 217, 102);*/
}

@media (min-width: 300px) and (max-width: 768px) { 
  .prosessen-img-wrapper {
    height: 100%;
    padding-top: 13px;
  }

  img.prosessen-img {
    width: 40px;
  }

  section h2.section-heading {
    font-size: 30px;
  }

  .portfolio-modal .modal-content h2 {
    font-size: 28px;
  }
}

@media (min-width: 769px) and (max-width: 992px) { 
  .prosessen-img-wrapper {
    height: 100%;
    padding-top: 13px;
  }

  img.prosessen-img {
    width: 60px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) { 
  .prosessen-img-wrapper {
    height: 100%;
    padding-top: 30px;
  }

  img.prosessen-img {
    width: 80px;
  }
}

@media (min-width: 300px) and (max-width: 768px) { 
  .video {
    display: none;
  }
}

.btn-primary {
  background-color: #2AB27B;
  border-color: #2AB27B;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #44CC95;
  border-color: #44CC95;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 17px;
  font-style: normal;
}

section h3.section-subheading {
  font-size: 18px;
}

section h2.section-heading {
  color: #404040;
}

.service-heading {
  color: #404040;
}

blockquote p {
  font-size: 15px;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -3px;
    top: -28px;
    color: #1b92c7;
}

.timeline-body p {
  font-size: 15px;
}

.portfolio-hover-content p {
  font-weight: bold;
}

.slick-prev:before, .slick-next:before {
  color: #000;
}

.slick-arrow:hover:before {
  color: #1b92c7;
}

.modal-slider-wrapper img {
  max-height: 700px;
}

@media (min-width: 300px) and (max-width: 768px) { 
  .portfolio-modal .modal-content h2 {
    font-size: 28px;
  }
}

.timeline .timeline-heading h4.subheading {
  color: #404040;
}
.logo {
  background: url('../img/logo.png') no-repeat;
  width: 130px;
  height: 40px;
  background-size: 130px 40px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .logo {
    background: url('../img/logo@2x.png') no-repeat;
    width: 130px;
    height: 40px;
    background-size: 130px 40px;
  }
}

.portfolio-modal .modal-content p.long {
  text-align: left;
} 

.portfolio-modal .modal-content p.caption {
  font-style: italic;
}



@media (min-width: 768px) {

  .equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}

/*---------------------------
  Blue Button
---------------------------*/

a.message-green {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  text-align: center;
  background-color: #2AB27B;
  border: 1px solid #2AB27B;
  width: 100px;
  height: 35px;
  line-height: 35px;
  position: fixed;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all ease .15s;
  -o-transition: all ease .15s;
  -moz-transition: all ease .15s;
  transition: all ease .15s;
  z-index: 2000;
}
a.message-green:hover {
  background-color: #2AB27B;
  border: 1px solid #2AB27B;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  /* transform: scale(1.15); */ /* uncomment to add zoom effect */
}
a.message-green:focus {
  background-color: #2AB27B;
  border: 1px solid #2AB27B;
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}